# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
neopy2venv/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
